/* NAV BAR Begin */
.navbar-nav {
    float:none;
    margin:0 auto;
    text-align: center;
   
}

.navbar-nav  {
    
    float:none;
}

/* removes navbar color */
.bg-light {
    background-color: transparent!important;
}


/* items within the nav bar */
.navbar-light .navbar-nav .nav-link{
    color: white;
}

/* END NAV */

/* Mobile Centering nav Start */
@media only screen and (max-width: 990px) {
    .navbar-nav {
        float:none;
        margin:0 auto;
        text-align: center;
    }

    .navbar-light .navbar-nav .nav-link{
        padding-left: 15px;
        text-align: center;
        float:none;
        
    }
    .nav-pills {
        display:table-cell;
    }
   
} 
/* Mobile Centering nav End */










/* Body Beginning */
body {
    font-family: 'Montserrat', sans-serif;
}
    


#portfolio-body {
    background-image: url("images/sea.jpg");
    background-size: cover; 
    color: white;
    height: 700px;
    position: relative;
    text-align: center;
    width: 100%;
    
}






.row {
    padding-top: 25px;
}
.col {
    height: 50%;
    background-color: transparent;
    /* border: 1px solid white; */
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
} 

/* Cards */

.card {
    background-color: transparent;
    
}
.card-title {
    background-color: black;
}


.list-group-item {
    background-color:rgb(43,46,25);
   
}

.card-body {
    background-color:rgb(43,46,25);
    color: white;
}
a {
    color:white;
}

a:hover{
    color: white;
}
/* Responsivness */

@media only screen and (max-width: 545px) {
  .card {
      margin-bottom: 5%;
  }
  img{
    width: 225px;
    height: 225px;
    
    border: 7px solid #fff;
  }
} 
