/* NAVBAR START */
/* Centering */
.navbar-nav {
   
    margin:0 auto;
    text-align: center;
}

/* Color of nav items */
.navbar-light .navbar-nav .nav-link{
   color: white; 
}


/* Mobile Centering nav Start */
@media only screen and (max-width: 990px) {
    .navbar-nav {
        float:none;
        margin:0 auto;
        text-align: center;
    }

    .navbar-light .navbar-nav .nav-link{
        padding-left: 15px;
        text-align: center;
        float:none;
        
    }
    .nav-pills {
        display:table-cell;
    }
   
} 
/* Mobile Centering nav End */










/* Body Beginning */
body {
    font-family: 'Montserrat', sans-serif;
}
    
/* Name */
.name {
 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    

}

/* Background Images */
#index-body {
    background-image: url("images/moss.jpg");
    background-size: cover; 
    height: 700px;
    position: relative;
    width: 100%;

}
#portfolio-body {
    background-image: url("images/sea.jpg");
    background-size: cover; 
    color: white;
    height: 700px;
    position: relative;
    text-align: center;
    width: 100%;
    
}


#portfolio {
    padding: 25px 0;
} 
/*
.portfolio-item {
    margin: 5px;
}
*/
.portfolio-link {
    margin: auto;
    color:white;
    font-size: 25px;  
    text-decoration: none;  
    color: inherit!important;
}


#project { 
     position: relative; 
    height: 75%;
    padding-top: 15px;
    width: 80%;
    border-radius: 25px;
    
}

.card-title {
    background-color: black;
}

.fab {
    color: white;
    text-decoration: none;
    
}

.space {
    height: 300px;
    text-align: center;
    margin: 25px 0;
}

.row {
    padding-top: 25px;
}

.col {
    height: 50%;
    background-color: transparent;
    /* border: 1px solid white; */
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
} 
.portfolioSeeMore {
    color: white;
    font-size: 30px;
}

.portfolioSeeMore:hover {
    color: white;
}

@media only screen and (max-width: 535px) {
    #portfolio-item {
        margin: auto;
        font-size: 20px;    
    }
    .col {
        height: 25%;
        border: 1px solid white;
        border-radius: 25px;
        margin: 10px 35px 0 ;

    } 
    #project { 
    position: relative; 
       height: 55%;
       padding-top: 15px;
       width: 80%;
       border-radius: 25px;
   }
} 
