/* NAV BAR Begin */
.navbar-nav {
    float:none;
    margin:0 auto;
    text-align: center;
   
}

.navbar-nav  {
    
    float:none;
}

/* removes navbar color */
.bg-light {
    background-color: transparent!important;
}


/* items within the nav bar */
.navbar-light .navbar-nav .nav-link{
    color: white;
}
/* NAV BAR END */
 

/* Body Beginning */
body {
    font-family: 'Montserrat', sans-serif;
}
    
/* }

/* Background Images */
#index-body {
    background-image: url("images/moss.jpg");
    background-size: cover; 
    height: 800px;
    position: relative;
}
#portfolio-body {
    background-image: url("images/sea.jpg");
    background-size: cover; 
    color: white;
    height: 500px;
    position: relative;
    text-align: center;
    
}

#portfolio {
    padding: 25px 0;
}

.portfolio-item {
    margin: 5px;
}

.portfolio-link {
    margin: auto;
    color:white;
    font-size: 25px;    
}
#finapp {
    /* position: relative; */
    height: 200px;
    width: 300px;
}

.seemore {
    width: 100%;
    text-align: center;
}




.space {
    height: 300px;
    text-align: center;
    margin: 25px 0;
}

.row {
    padding-top: 25px;
}

.col {
    height: 50%;
    background-color: transparent;
   
   
}
.card {
    color: black;
    width: 14rem;
}



/* div for the center name */
/* .name { */
    
    /* text-align: center; */
    /* width: 100%;
    
    margin-top: 5%;
    color: white;
    font-size: 54px!important;
}     */

/* material within the center div */
/* .center-name {
    font-weight: bold;
    text-align: center;
} */

/* .container {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 75%;
    position: relative;
} */





/* Body END*/
